<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Blogs</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="userIsAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">
        New Blog
      </a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">
        Login
      </a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">
        Register
      </a>
    </li>
    <li>
      <a *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">
        Logout
      </a>
    </li>
  </ul>
</mat-toolbar>
