<!--  Manually setting the textarea input values
  <textarea rows="6" [value]="newBlog" #blogInput></textarea>
 -->
 <!-- Two way data binding to get the input below -->
 <mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
   </mat-form-field>
  <button
  color="primary"
  mat-raised-button
  (click)="onAddBlog()">
  Save Blog
</button>
</mat-card>
<!--  <hr>
 --><!-- <button (click)="onAddBlog(blogInput)">Save Blog</button>
 -->
 <!-- String interpolation below -->
<p>{{ newBlog }}</p>
