<!--  Manually setting the textarea input values
  <textarea rows="6" [value]="newBlog" #blogInput></textarea>
 -->
<!-- Two way data binding to get the input below -->
<mat-card>
  <!-- Show the spinner if isLoading is true -->
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onSaveBlog(blogForm)" #blogForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      [ngModel]="blog?.title"
      required
      minlength="3"
      #title="ngModel"
      placeholder="Blog title">

      <mat-error *ngIf="title.invalid">Please enter a blog title.</mat-error>

    </mat-form-field>

    <mat-form-field>

      <textarea
      matInput
      rows="6"
      name="content"
      [ngModel]="blog?.content"
      required
      #content="ngModel"
      placeholder="Blog content"></textarea>

      <mat-error *ngIf="content.invalid">Please enter some blog content.</mat-error>

    </mat-form-field>

    <button color="primary" mat-raised-button type="submit">
      Save Blog
    </button>

  </form>

</mat-card>
<!--  <hr>
 -->
<!-- <button (click)="onAddBlog(blogInput)">Save Blog</button>
 -->
<!-- String interpolation below -->
<!-- Moved the blog output to the blog-list component <p>{{ newBlog }}</p>
 -->
