/* mat-card {
  width: 80%;
  margin: auto;
 } */
mat-spinner {
  margin: auto;
}

 text-area, mat-form-field {
   width: 100%;
 }

 .image-preview {
  height: 5rem;
  margin: 1rem 0;
 }

 .image-preview img {
   height: 100%;
 }

input[type="file"] {
  visibility: hidden;
}
